<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/div.css">
</head>
<body>
    <div class="blog-post">
        <div class="blog-post_img">
            <img src="images/software-img.png" alt="">
        </div>

        <div class="blog-post-info">

        
        <div class="blog-post-date">
            <span>Monday</span>
            <span>January 6, 2020</span>

        </div>
        <h1 class="blog-post-title">welcome</h1>
        <p class="blog-post-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur minima atque cum fugiat quae provident sunt ratione tempora voluptates, natus placeat maxime officiis quasi vel maiores sed, corrupti quidem deleniti.Repudiandae mollitia id facilis quos, quia quibusdam cumque dolores provident sit alias ut, officiis iure voluptates ipsa. Placeat, inventore molestiae. Nisi doloremque earum hic eius eligendi eaque sed quia iure.</p>
        <a href="" class="blog-post-btn">Read More</a>

        </div>
    </div>
</body>
</html>